<h2>Welcome!!!</h2>

<p>Dear <%=@user.email%> welcome to the new property management application "Propor". This mail contains the login credentials. You have been asigned a role(s) of <%=@user.roles.pluck(:name).join(",").capitalize%>. </p><br><br>

<ul>
	<li><h3>Username:</h3><%=@user.email%></li><br>
	<li><h3>Password:</h3><%=@user.password%></li><br>
</ul>


<b>Regards, </b><br>
<b>Admin</b>
