<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @payment_option.name %>
</p>

<%= link_to 'Edit', edit_payment_option_path(@payment_option) %> |
<%= link_to 'Back', payment_options_path %>
