<h2>My Profile</h2>
<%if @userdetails.empty? %>
	<h3><%=link_to "Add My Details", new_userdetail_path%></h3>
<%end%>
<ul>
	<%@userdetails.each do |userdetail|%>
		<li><b>Name: </b><%=link_to userdetail.name, userdetail_path(userdetail.id)%></li><br>
		
	<%end%>	
</ul>