<div class="row">

	<div class="page-header">
		<h2>New Payment</h2>
	</div>

	<div class="col-md-8">	

		<%= render 'form' %>

		<%= link_to 'Back', payments_path %>

	</div> <!-- col-md-8 ends -->

</div><!-- row ends -->